<div class="row">
 <div class="col col-md-12">
      
     <h1>Cast of Characters</h1>
     
     
     <!-- Nav tabs -->
     <ul class="nav nav-tabs" role="tablist">
     
       {{#each factions as |faction index|}}           
       <li role="presentation"  class="{{if (eq index 0) 'active' }}">
         <a href="#{{faction.name}}" aria-controls="{{faction.name}}" role="tab" data-toggle="tab">{{faction.name}}</a></li>
       {{/each}}
     </ul>

     <!-- Tab panes -->
     <div class="tab-content">
     
     {{#each factions as |faction index|}}           
       
       <div role="tabpanel" class="tab-pane {{if (eq index 0) 'active' }}" id="{{faction.name}}">
          <div class="panel panel-default">
             <div class="panel-body">
                <div>{{faction.blurb}}</div>
                {{#each faction.chars as |char|}}
                   <LinkTo @route="character" @model={{char.id}}><ProfileBox @char={{char}} /></LinkTo>
                {{/each}}
                <div class="clearfix" />
             </div>
           </div>
          </div>
       {{/each}}
           
       </div>
       
        
    <div class="button-row">
       <LinkTo @route="chargen"><span class="btn btn-default" href="#" role="button">Create New Character</span></LinkTo>
    </div>
    
  </div>
</div>

{{outlet}}
