<div class="row">
 <div class="col col-md-12">
 <h1>{{@model.player.name}}</h1>
 
     <div class="row profile-wrap">
         <div class="col col-sm-4"> 
    
             <div>
               <img class="profile-image" src="/assets/images/{{@model.player.profile_image}}"/>
             </div>
    
         </div>
         <div class="col col-sm-8">
             <div class="panel panel-default">
               <div class="panel-body">
                 <p>Freeform profile text.</p>
               </div>
             </div>
         </div>
    </div>
    
    
    <h2>Characters</h2>
    
    {{#each chars as |char|}}
        <LinkTo @route="character" @model={{char.id}}><ProfileBox @char={{char}} /></LinkTo>
    {{/each}}
    
    <div class="clearfix" />
    <div class="button-row">
       <span class="btn btn-default" href="#" role="button">Edit Profile</span>
       <LinkTo @route="chargen"><span class="btn btn-default" href="#" role="button">Create New Character</span></LinkTo> 
    </div>
    
 </div>
</div>


{{outlet}}


{{outlet}}
